
<div class="container">
  <div class="row">
    <div class="col s8 offset-2">
      <div class="card-panel teal lighten-2">
        <h4 class="center white-text">Image Library</h4>
      </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
            <div class="input-field col s12">
              <input type="text"
                    #Caption
                    ngModel
                    name="Caption"
                    id="Caption">

              <label for="Caption">Caption</label>

            </div>
              <img [src]="imageUrl" style="width:250px;height: 200px">
              <input type="file" #Image accept="image/*" (change)="handleImageFileInput($event.target.files)" multiple>
              <hr>
              <br>
              <div *ngIf="audioUrl">
                <audio controls>
                    <source [src]="audioUrl" type="audio/mpeg">
                    <source [src]="audioUrl" type="audio/ogg">
                </audio>
              </div>
              <input type="file" #Image accept="audio/*" (change)="handleAudioFileInput($event.target.files)" multiple>
              <hr>
            <div>
              <button type="submit" class="btn-large btn-submit">Submit</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
